* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: Arial;
  font-size: 16px;
  height: 100%;
  line-height: 1.25rem;
  overflow-x: hidden;
}
.content-wrapper {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
}
a {
  color: #000;
  text-decoration: none;
}
p {
  margin: 0 0 1.25rem;
}
p a {
  text-decoration: none;
  transition: background 0.3s ease-out;
}
strong {
  font-weight: normal;
}
em {
  font-style: normal;
}
h1 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 50px;
}
@media all and (min-width: 668px) {
  h1 {
    margin-top: 58px;
  }
}
h2 {
  font-weight: 700;
  line-height: 25px;
}
h3 {
}
h4 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0 0 1.25rem;
  padding-left: 0;
}
ul li {
  background-size: 8px;
  margin-bottom: 1.25rem;
  padding-left: 20px;
}
ul li a {
  text-decoration: none;
}
ol {
  margin: 0 0 1.25rem;
  padding-left: 20px;
}
ol li {
  margin-bottom: 1.25rem;
}
ol li a {
  text-decoration: none;
}
table {
  width: 100%;
}
table tr {
  text-align: left;
}
table tr td {
  padding: 10px 0;
}
.field {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
