node-helpers
virtual-machine
deploytest
.DS_Store
.idea
*.retry
startVagrant.sh
local-dev/oc
minishift
**/v8-*
node_modules/
build/*
!build/.gitkeep
openshift
!services/api/src/resources/openshift
.loopback
secrets
docs/_build
*~
yarn-debug.log*
yarn-error.log*
