node-helpers
virtual-machine
deploytest
.DS_Store
.idea
*.retry
startVagrant.sh
local-dev/oc
local-dev/helm
local-dev/minishift
local-dev/minikube
local-dev/k3d
local-dev/kind
local-dev/kubectl
local-dev/jq
local-dev/stern
**/v8-*
node_modules/
build/*
!build/.gitkeep
openshift
!services/api/src/resources/openshift
.loopback
secrets
docs/_build
*~
yarn-debug.log*
yarn-error.log*
site
kubeconfig.*
kindconfig.*
k3dconfig.*
lagoon-charts.*
calico.yaml
.devcontainer