<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>alpha</name>
  <description></description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>12</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher"/>
  <label></label>
  <nodeProperties/>
</slave>
