[galera]
wsrep_sst_method = rsync
default_storage_engine = innodb
binlog_format = row
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
query_cache_size = 0
query_cache_type = 0

wsrep_debug = ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_on = ON
wsrep_provider_options='debug=ON'

# By default every node is standalone
wsrep_cluster_address=gcomm://
wsrep_cluster_name=galera
wsrep_node_address=127.0.0.1

log_error=/proc/self/fd/2
slow_query_log_file = mariadb-slow.log
