[galera]
wsrep_sst_method = xtrabackup-v2
# This can be insecure, because the user is only available via localhost
# We should still try to integrate it with Kubernetes secrets
wsrep_sst_auth=xtrabackup_sst:xtrabackup_sst
default_storage_engine = innodb
binlog_format = row
innodb_autoinc_lock_mode = 2
innodb_flush_log_at_trx_commit = 0
query_cache_size = 0
query_cache_type = 0

# By default every node is standalone
wsrep_cluster_address=gcomm://
wsrep_cluster_name=galera
wsrep_node_address=127.0.0.1
