# The following options will be passed to all MariaDB clients
[client]
#password       = your_password
port            = 3306
socket          = /run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The MariaDB server
[mysqld]
port            = 3306
socket          = /run/mysqld/mysqld.sock
skip-external-locking
key_buffer_size = 16M
max_allowed_packet = 1M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

skip-character-set-client-handshake
skip-name-resolve

!includedir /etc/mysql/conf.d
