Port 2020

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

LogLevel INFO

# Sets the allowed number of ssh-agent key attempts before failure
MaxAuthTries ${MAX_AUTH_TRIES:-6}

PermitRootLogin no

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
AuthorizedKeysFile /dev/null

AuthorizedKeysCommand /authorize.sh %u %f
AuthorizedKeysCommandUser lagoon

HostbasedAuthentication no

PasswordAuthentication no
ChallengeResponseAuthentication no

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no

PermitTTY yes
PrintMotd no

UsePAM no

PermitUserEnvironment no
#UseDNS yes
PermitTunnel no
Banner none

ClientAliveInterval 60
ClientAliveCountMax 1440 # max keepalive of 24h

# This will allow sftp access
Subsystem sftp sftp-server -u 0002
