<!DOCTYPE html>
<html lang="en">

<head>
    <title>List</title>
</head>
<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/list" class="nav-link">Add</a></li>
            <li class="active nav-item"><a href="/list/getlist" class="nav-link">ListAll</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center">
    <h1>Items</h1>
</div>
<div class="container">
    <p>
        <div class="caption">Your Items</div>
        <% items.forEach(function(list) { %>
        <p>
        Name: <%= list.name %></br>
        Character: <%= list.character %>
        </p>
        <% }); %>
    </p>
</div>
</html>