# The following options will be passed to all MariaDB clients
[client]
port            = 3306
socket          = /run/mysqld/mysqld.sock

# Here follows entries for some specific programs

# The MariaDB server
[mysqld]
port            = 3306
socket          = /run/mysqld/mysqld.sock
character_set_server = ${MARIADB_CHARSET:-utf8mb4}
collation_server = ${MARIADB_COLLATION:-utf8mb4_bin}
expire_logs_days = 10
ignore_db_dirs=backup
innodb_buffer_pool_size = ${MARIADB_INNODB_BUFFER_POOL_SIZE:-256M}
innodb_buffer_pool_instances = ${MARIADB_INNODB_BUFFER_POOL_INSTANCES:-1}
innodb_log_buffer_size = 32M
innodb_log_file_size = ${MARIADB_INNODB_LOG_FILE_SIZE:-64M}
join_buffer_size = 2M
key_buffer_size = 16M
max_allowed_packet = ${MARIADB_MAX_ALLOWED_PACKET:-64M}
max_binlog_size = 100M
max_connections = 400
max_heap_table_size = 512M
myisam-recover-options = BACKUP
query_cache_size = 0
query_cache_type = 0
skip-external-locking
skip_name_resolve = 1
table_open_cache = 200000
thread_cache_size = 8
thread_stack = 256K
tmp_table_size = 512M
tmpdir = /tmp
transaction-isolation = READ-COMMITTED
skip-name-resolve
optimizer_search_depth = 0
innodb_flush_log_at_trx_commit = 0

!includedir /etc/mysql/conf.d
