svg.grid {
    margin: 0 auto;
    width: 100%;
}
svg.grid g {
    fill: #f2f2f2;
    fill-opacity: 0.6;
}
svg.grid g:hover {
    fill-opacity: 1;
}
svg.grid g:hover text {
    fill-opacity: 1;
}
svg.grid g .green g {
    fill: #cbf3cf;
}
svg.grid g .light-red g {
    fill: #ffa19c;
}
svg.grid g .red g {
    fill: #ff6961;
}
svg.grid g .dark-red g {
    fill: #c30a00;
}
svg.grid g .darker-red g {
    fill: #880700;
}
svg.grid g polygon {
    cursor: pointer;
    stroke: #4c84ff;
    stroke-width: 0.2;
    transition: fill-opacity .2s;
}
svg.grid g text {
    font-size: 0.325em;
    fill: #000;
    fill-opacity: 0.5;
    transition: fill-opacity .2s;
    cursor: pointer;
}
svg.grid g .text-small {
    font-size: 0.25em;
    fill: #000;
    fill-opacity: 0.5;
    transition: fill-opacity .2s;
    cursor: pointer;
}
svg.grid g .no-text {
    font-size: 0;
}
svg.grid path {
    fill: none;
    stroke: hsl(60, 20%, 70%);
    stroke-width: 0.4em;
    stroke-opacity: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
}