TEMPLATE FOR RELEASES - add/modify as required and save with release number

#### Release Links
* lagoon [vx.xx.x](https://github.com/uselagoon/lagoon/releases/tag/vx.xx.x)
* lagoon-ui [core-vx.xx.x](https://github.com/uselagoon/lagoon-ui/releases/tag/core-vx.xx.x)
* lagoon-build-deploy [core-vx.xx.x](https://github.com/uselagoon/build-deploy-tool/releases/tag/core-vx.xx.x)
* lagoon-core chart [x.xx.x](https://github.com/uselagoon/lagoon-charts/releases/tag/lagoon-core-x.xx.0)
* lagoon-remote chart [x.xx.x](https://github.com/uselagoon/lagoon-charts/releases/tag/lagoon-remote-x.xx.x)

## Upgrades

EITHER
There are no required actions or considerations with this release. As always, we suggest upgrading all minor versions.
OR
This release was superseded, and the [x.xx.x](./x.xx.x.md) release is recommended to be installed instead.
OR
### Upgrade Heading
Upgrade Text

## Deprecations

EITHER
There are no required actions or considerations with this release. As always, we suggest upgrading all minor versions.
OR
This release was superseded, and the [x.xx.x](./x.xx.x.md) release is recommended to be installed instead.
OR
### Deprecation Heading
Deprecation Text
