[maxscale]
threads=2

[MasterOnly Service 3306]
type=service
router=readconnroute
router_options=master
servers=database0,database1,database2
user=${MAXSCALE_USERNAME:-maxscale}
passwd=${MAXSCALE_PASSWORD:-maxscale}
localhost_match_wildcard_host=1

[MasterOnly Listener 3306]
type=listener
service=MasterOnly Service 3306
protocol=MySQLClient
port=3306

[Galera Monitor]
type=monitor
module=galeramon
servers=database0,database1,database2
user=${MAXSCALE_USERNAME:-maxscale}
passwd=${MAXSCALE_PASSWORD:-maxscale}


[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
address=127.0.0.1
port=6603

[database0]
type=server
address=mariadb-0.mariadb
port=3306
protocol=MySQLBackend

[database1]
type=server
address=mariadb-1.mariadb
port=3306
protocol=MySQLBackend

[database2]
type=server
address=mariadb-2.mariadb
port=3306
protocol=MySQLBackend
