Host *
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  IdentityFile /home/.ssh/lagoon_cli.key
  IdentityFile /home/.ssh/key
  ServerAliveInterval 60
  ServerAliveCountMax 1440 # max keepalive of 24h